<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ws_Test_POR.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ws_Test_POR.My.MySettings.sqlConnection" connectionString="Data Source=APOLO;Initial Catalog=SAV;Persist Security Info=True;User ID=SavSysUser;Password=SavSysUser;Application " />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.7.2" />
      <httpRuntime targetFramework="4.7.2" />
    </system.web>

    <applicationSettings>
        <Ws_Test_POR.My.MySettings>
            <setting name="getPaymentInfo" serializeAs="String">
                <value>https://api-sodimac-pgs.buffetcloud.io/pgs-dte-testing/api/imp/payments/getPaymentInfo</value>
            </setting>
            <setting name="confirmPayment" serializeAs="String">
                <value>https://api-sodimac-pgs.buffetcloud.io/pgs-dte-testing/api/imp/payments/confirmPayment</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogTrace" serializeAs="String">
                <value>LogTrace</value>
            </setting>
        </Ws_Test_POR.My.MySettings>
    </applicationSettings>
</configuration>
