<?xml version="1.0"?>
<configuration>
  <!-- ===================================================================== -->
  <!-- == Config Sections ================================================== -->
  <!-- ===================================================================== -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RsValidateOrder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- ===================================================================== -->
  <!-- == System Diagnostics =============================================== -->
  <!-- ===================================================================== -->
  <system.diagnostics>
    <sources>
        <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
            <listeners>
                <add name="rsLog" />
            </listeners>
        </source>
        <source name="System.ServiceModel.MessageLogging">
            <listeners>
                <add name="rsLog" />
            </listeners>
        </source>
    </sources>
    <sharedListeners>
        <add initializeData="C:\ImpRestTrace\ValidateOrderTrace\RsValidateOrder.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="rsLog" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
        <listeners>
            <add name="rsLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
            <remove name="Default" />
        </listeners>
    </trace>
  </system.diagnostics>
  <!-- ===================================================================== -->
  <!-- == Application Settings ============================================= -->
  <!-- ===================================================================== -->  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!-- ===================================================================== -->
  <!-- == System ServiceModel ============================================== -->
  <!-- ===================================================================== -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="RsValidateOrder.ServValidateOrder">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="RsValidateOrder.IServValidateOrder">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
        <serviceBehaviors>
            <behavior name="ServiceBehavior">
                <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                <serviceDebug includeExceptionDetailInFaults="true"/>
            </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
            <behavior name="web">
                <webHttp/>
            </behavior>
        </endpointBehaviors>         
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <diagnostics>
        <messageLogging logEntireMessage="true"
                  maxMessagesToLog="300"
                  logMessagesAtServiceLevel="true"
                  logMalformedMessages="true"
                  logMessagesAtTransportLevel="false" />  
    </diagnostics>       
  </system.serviceModel>
  <!-- ===================================================================== -->
  <!-- == System WebServer ================================================= -->
  <!-- ===================================================================== -->  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>  
  </system.webServer>
  <!-- ===================================================================== -->
  <!-- == Application Settings ============================================= -->
  <!-- ===================================================================== -->
  <applicationSettings>
    <RsValidateOrder.My.MySettings>
      <setting name="ImperialAuth" serializeAs="String">
        <value>http://10.130.2.74/aprweb/AprRestService.svc/authenticate</value>
      </setting>
      <setting name="AccessControlMaxAge" serializeAs="String">
        <value>1728000</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=8kqacolumbia;Initial Catalog=SAV;Persist Security Info=True;User ID=SavSysUser;Password=SavSysUser;Application Name=ValidaOrden;</value>
      </setting>
      <setting name="OraclePayURL" serializeAs="String">
        <value>https://docs.oracle.com/cd/E95861_01/Cloud.18B/ExtendingCC/html/s3005authorizethepayment01.html</value>
      </setting>
      <setting name="TraceDir" serializeAs="String">
        <value>C:\ImpRestTrace\ValidateOrderTrace</value>
      </setting>
      <setting name="AccessControlAllowOrigin" serializeAs="String">
        <value>*</value>
      </setting>
    </RsValidateOrder.My.MySettings>
  </applicationSettings>
</configuration>
