<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SERVPOR.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SERVPOR.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SERVPOR.My.MySettings.sqlConnection" connectionString="Data Source=apolo;Initial Catalog=SAV;Persist Security Info=True;User ID=SavSysUser;Password=SavSysUser;" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConsChequeSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="ConsChequeSoap12">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://clientes.seguroscontinental.com/wsConsChqD/wsConsChq.asmx" binding="basicHttpBinding" bindingConfiguration="ConsChequeSoap" contract="wsConsChq.ConsChequeSoap" name="ConsChequeSoap"/>
            <endpoint address="http://clientes.seguroscontinental.com/wsConsChqD/wsConsChq.asmx" binding="customBinding" bindingConfiguration="ConsChequeSoap12" contract="wsConsChq.ConsChequeSoap" name="ConsChequeSoap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <applicationSettings>
        <SERVPOR.My.MySettings>
            <setting name="ecuIpPort" serializeAs="String">
                <value>127.0.0.1,10102</value>
            </setting>
            <setting name="ecuLayoutsURL" serializeAs="String">
                <value>file:///./Layouts/*.asp</value>
            </setting>
            <setting name="appServerName" serializeAs="String">
                <value>SERVPOR</value>
            </setting>
            <setting name="appTraceXML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="appTraceDir" serializeAs="String">
                <value>.\Trace</value>
            </setting>
            <setting name="appPoliza" serializeAs="String">
                <value>211107642</value>
            </setting>
            <setting name="appLoginEmp" serializeAs="String">
                <value>imperial 1</value>
            </setting>
            <setting name="appUsuario" serializeAs="String">
                <value>wsprueba</value>
            </setting>
            <setting name="appPass" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="appCodSal" serializeAs="String">
                <value>50740
</value>
            </setting>
        </SERVPOR.My.MySettings>
    </applicationSettings>
    <userSettings>
        <SERVPOR.My.MySettings>
            <setting name="getPaymentInfo" serializeAs="String">
                <value>https://api-sodimac-pgs.buffetcloud.io/pgs-dte-testing/api/imp/payments/getPaymentInfo

</value>
            </setting>
            <setting name="confirmPayment" serializeAs="String">
                <value>https://api-sodimac-pgs.buffetcloud.io/pgs-dte-testing/api/imp/payments/confirmPayment</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogTrace" serializeAs="String">
                <value>.\Trace</value>
            </setting>
        </SERVPOR.My.MySettings>
    </userSettings>
</configuration>
