<?xml version="1.0"?>
<configuration>
  <!-- ===================================================================== -->
  <!-- == Config Sections ================================================== -->
  <!-- ===================================================================== -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RsServicePOR.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- ===================================================================== -->
  <!-- == System Diagnostics =============================================== -->
  <!-- ===================================================================== -->
  <system.diagnostics>
    <sources>
        <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
            <listeners>
                <add name="rsLog" />
            </listeners>
        </source>
        <source name="System.ServiceModel.MessageLogging">
            <listeners>
                <add name="rsLog" />
            </listeners>
        </source>
    </sources>
    <sharedListeners>
        <add initializeData="C:\ImpRestTrace\ValidateOrderTrace\RsValidateOrder.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="rsLog" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
        <listeners>
            <add name="rsLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
            <remove name="Default" />
        </listeners>
    </trace>
  </system.diagnostics>
  <!-- ===================================================================== -->
  <!-- == Application Settings ============================================= -->
  <!-- ===================================================================== -->  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!-- ===================================================================== -->
  <!-- == System ServiceModel ============================================== -->
  <!-- ===================================================================== -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="RsServicePOR.ServValidateOrder">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="RsServicePOR.IServicePOR">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
        <serviceBehaviors>
            <behavior name="ServiceBehavior">
                <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                <serviceDebug includeExceptionDetailInFaults="true"/>
            </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
            <behavior name="web">
                <webHttp/>
            </behavior>
        </endpointBehaviors>         
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <diagnostics>
        <messageLogging logEntireMessage="true"
                  maxMessagesToLog="300"
                  logMessagesAtServiceLevel="true"
                  logMalformedMessages="true"
                  logMessagesAtTransportLevel="false" />  
    </diagnostics>       
  </system.serviceModel>
  <!-- ===================================================================== -->
  <!-- == System WebServer ================================================= -->
  <!-- ===================================================================== -->  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>  
  </system.webServer>
  <!-- ===================================================================== -->
  <!-- == Application Settings ============================================= -->
  <!-- ===================================================================== -->
  <applicationSettings>
    <RsServicePOR.My.MySettings>
      <setting name="sqlConnection" serializeAs="String">
        <value>Data Source=APOLO;Initial Catalog=SAV;Persist Security Info=True;User ID=SavSysUser;Password=SavSysUser;Application 
</value>
      </setting>
      <setting name="ecuIpPort" serializeAs="String">
        <value>127.0.0.1,10102</value>
      </setting>
      <setting name="ecuLayoutsURL" serializeAs="String">
        <value>file:///./Layouts/*.asp</value>
      </setting>
      <setting name="appServerName" serializeAs="String">
        <value>SERVPOR</value>
      </setting>
      <setting name="appTraceXML" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="appTraceDir" serializeAs="String">
        <value>.\Trace</value>
      </setting>
      <setting name="appPoliza" serializeAs="String">
        <value>211107642</value>
      </setting>
      <setting name="appLoginEmp" serializeAs="String">
        <value>imperial 1</value>
      </setting>
      <setting name="appUsuario" serializeAs="String">
        <value>wsprueba</value>
      </setting>
      <setting name="appPass" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="appCodSal" serializeAs="String">
        <value>50740
        </value>
      </setting>
      <setting name="getPaymentInfo" serializeAs="String">
        <value>https://api-sodimac-pgs.buffetcloud.io/pgs-dte-testing/api/imp/payments/getPaymentInfo

        </value>
      </setting>
      <setting name="confirmPayment" serializeAs="String">
        <value>https://api-sodimac-pgs.buffetcloud.io/pgs-dte-testing/api/imp/payments/confirmPayment</value>
      </setting>
      <setting name="Log" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogTrace" serializeAs="String">
        <value>.\Trace</value>
      </setting>
    </RsServicePOR.My.MySettings>
  </applicationSettings>
</configuration>
