<?xml version="1.0"?>
<configuration>
  <!-- ===================================================================== -->
  <!-- == Config Sections ================================================== -->
  <!-- ===================================================================== -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RsBuscarStock.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- ===================================================================== -->
  <!-- == Application Settings ============================================= -->
  <!-- ===================================================================== -->  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!-- ===================================================================== -->
  <!-- == System Diagnostics =============================================== -->
  <!-- ===================================================================== -->
  <system.diagnostics>
    <sources>
        <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
            <listeners>
                <add name="rsLog" />
            </listeners>
        </source>
        <source name="System.ServiceModel.MessageLogging">
            <listeners>
                <add name="rsLog" />
            </listeners>
        </source>
    </sources>
    <sharedListeners>
        <add initializeData="C:\ImpRestTrace\BuscarStockTrace\RsBuscaStock.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="rsLog" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
        <listeners>
            <add name="rsLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
            <remove name="Default" />
        </listeners>
    </trace>
  </system.diagnostics>
  <!-- ===================================================================== -->
  <!-- == System Web ======================================================= -->
  <!-- ===================================================================== -->   
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <customErrors mode="RemoteOnly"/>    
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!-- ===================================================================== -->
  <!-- == System WebServer ================================================= -->
  <!-- ===================================================================== -->  
  <system.webServer>
    <directoryBrowse enabled="false"/>  
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>  
  <!-- ===================================================================== -->
  <!-- == System ServiceModel ============================================== -->
  <!-- ===================================================================== -->
  <system.serviceModel>
    <serviceHostingEnvironment 
      aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <!-- == Bindings ======================================================= -->
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingSecure">
          <security mode="Transport"/> <!--None-->
        </binding>
      </webHttpBinding>
    </bindings> 
    <!-- == Behaviors ====================================================== -->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>        
        <behavior name="webServiceBehaviour">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>         
    </behaviors>
    <!-- == Services ======================================================= -->
    <services>
      <service name="RsBuscarStock.ServBuscarStock"
               behaviorConfiguration="webServiceBehaviour">
        <endpoint address="" binding="webHttpBinding"
                  behaviorConfiguration="webEndpointBehavior"
                  bindingConfiguration="webHttpBindingSecure"
                  contract="RsBuscarStock.IServBuscarStock"/>
        </service>
    </services>
  </system.serviceModel>
  <!-- ===================================================================== -->
  <!-- == Application Settings ============================================= -->
  <!-- ===================================================================== -->
  <applicationSettings>
    <RsBuscarStock.My.MySettings>
      <setting name="TraceDir" serializeAs="String">
        <value>C:\ImpRestTrace\BuscarStockTrace</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=10.130.3.172;Initial Catalog=SAV;Persist Security Info=True;User ID=SavSysUser;Password=SavSysUser;Application Name=RsBuscarStock;</value>
      </setting>
      <setting name="ImperialAuth" serializeAs="String">
        <value>http://10.130.2.74/aprweb/AprRestService.svc/authenticate</value>
      </setting>
      <setting name="AccessControlAllowOrigin" serializeAs="String">
        <value>https://ccadmin-test-z3xa.oracleoutsourcing.com</value>
      </setting>
      <setting name="AccessControlMaxAge" serializeAs="String">
        <value>1728000</value>
      </setting>            
    </RsBuscarStock.My.MySettings>
  </applicationSettings>
</configuration>
