<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServiceWebVB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServiceWebVB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ServiceWebVB.My.MySettings.sqlConnection" connectionString="Data Source=APOLO;Initial Catalog=SAV;Persist Security Info=True;User ID=SavSysUser;Password=SavSysUser;Application " />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup><userSettings>
    <ServiceWebVB.My.MySettings>
      <setting name="getPaymentInfo" serializeAs="String">
        <value>https://api-sodimac-pgs.buffetcloud.io/pgs-dte-testing/api/imp/payments/getPaymentInfo

https://api-sodimac-pgs.buffetcloud.io/pgs-dte-testing/api/imp/payments/getPaymentInfo

https://api-sodimac-pgs.buffetcloud.io/pgs-dte-testing/api/imp/payments/getPaymentInfo</value>
      </setting>
      <setting name="confirmPayment" serializeAs="String">
        <value>https://api-sodimac-pgs.buffetcloud.io/pgs-dte-testing/api/imp/payments/confirmPayment</value>
      </setting>
    </ServiceWebVB.My.MySettings>
  </userSettings>
  <applicationSettings>
    <ServiceWebVB.My.MySettings>
      <setting name="appLoginEmp" serializeAs="String">
        <value>imperial 1</value>
      </setting>
      <setting name="appUsuario" serializeAs="String">
        <value>wsprueba</value>
      </setting>
      <setting name="appPass" serializeAs="String">
        <value>123456</value>
      </setting>
    </ServiceWebVB.My.MySettings>
  </applicationSettings>
</configuration>
